body {
  max-width:800px; margin:auto;
  margin-top:3em; margin-bottom:9em;
}
td {
  vertical-align:top;
  width:260px;
}
td tt {
  font-family: "Andale Mono", monospace;
  font-size: 9pt;
}
th {
  text-align:left;
  font-size: 9pt;
}
tr.odd { background-color: rgb(237,247,255); }
/* , tr:nth-child(odd)  // css3 selector  */
tr:hover, td:hover { background-color: rgb(205,225,249); }
.clone { color:rgb(204,0,0); }
.alt { font-style:italic; }
p#colophon {
  font-size: 8pt;
  color: gray;
  font-family: "Trebuchet MS", Arial, helvetica, sans-serif;
 }
p#colophon a { text-decoration: none; color:inherit; }
